<div class="imagen">
    <nav>
        <div class="logo">
            <a href="">
                <img src="../../assets/img/logo2.png" alt="" srcset=""> Buenaventura en pixeles
            </a>
        </div>
        <ul class="menu">
            <li>
                <a href="#">Fotos</a>
            </li>
            <li>
                <a href="#">Zona Turística</a>
            </li>
            <li>
                <a href="#">Historia</a>
            </li>
            <li class="link-login">
                <a href="#">Iniciar Sesión</a>
            </li>
            <li class="link-register">
                <a href="#">Registrarme</a>
            </li>
        </ul>
    </nav>
    <section class="banner mb-4" id="banner">
        <div class="banner-content">
            <h1>Buenaventura en pixeles</h1>
            <p>Una imagen vale más que mil palabras</p>
        </div>
    </section>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-light" id="nav">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Subir foto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Registrate</a>
            </li>
        </ul>
    </div>
</nav> -->
