<div class="col-12 px-0 pie-pagina">
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color bg-white text-white">
        <div class="img-oscuro">
            <div class=" bg-transparent">
                <div class="container">
                    <!--Grid row-->
                    <div class="row py-4 d-flex align-items-center">
        
                        <!--Grid column-->
                        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                            <h6 class="mb-0 text-white">¡Conéctese con nosotros en las redes sociales!</h6>
                        </div>
                        <!--Grid column-->
        
                        <!--Grid column-->
                        <div class="col-md-6 col-lg-7 text-center text-md-right redesSociales">
                            <!--Facebook-->
                            <a class="fb-ic ml-0  text-white" href="#" >
                                <i class="fab fa-facebook-f white-text mr-lg-4"> </i>
                            </a>
                            <!--Twitter-->
                            <a class="tw-ic text-white" href="#">
                                <i class="fab fa-twitter white-text mr-lg-4"> </i>
                            </a>
                            <!--Instagram-->
                            <a class="ins-ic text-white" href="#">
                                <i class="fab fa-instagram white-text mr-lg-4"> </i>
                            </a>
                        </div>
                        <!--Grid column-->
        
                    </div>
                    <!--Grid row-->
                </div>
            </div>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-white" style="width:100%;">
            <!--Footer Links-->
            <div class="container mt-5 text-center text-md-left">
                <div class="row mt-3">
        
                    <!--First column-->
                    <div class="col-md-3 col-lg-3 col-xl-3 mb-4 text-white">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Buenaventura en pixeles</strong>
                        </h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-white" style="width: 60px;">
                        <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                            amet, consectetur adipisicing elit.</p>
                    </div>
                    <!--/.First column-->
        
                    <!--Second column
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-dark">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Productos</strong>
                        </h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                        <p>
                            <a class="text-decoration-none" href="#!">Buscar Empleo</a>
                        </p>
                        <p>
                            <a class="text-decoration-none" href="#!">Empresa</a>
                        </p>
                        <p>
                            <a class="text-decoration-none" href="#!">Reclutador</a>
                        </p>
                        <p>
                            <a class="text-decoration-none" href="#!">Preguntas frecuentes de candidato</a>
                        </p>
                    </div>
                    /.Second column-->
        
                    <!--Third column-->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4 text-white">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>ENLACES ÚTILES</strong>
                        </h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-white" style="width: 60px;">
                        <p>
                            <a class="text-white" href="#!">Subir foto</a>
                        </p>
                        <p>
                            <a class="text-white" href="#!">Zonas turisticas</a>
                        </p>
                        <p>
                            <a class="text-white" href="#!">Historia de Buenaventura</a>
                        </p>
                        <p>
                            <a class="text-white" href="#!">Ayuda</a>
                        </p>
                    </div>
                    <!--/.Third column-->
        
                    <!--Fourth column-->
                    <div class="col-md-3 col-lg-3 col-xl-2 text-white">
                        <h6 class="text-uppercase font-weight-bold">
                            <strong>Contacto</strong>
                        </h6>
                        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto bg-white" style="width: 60px;">
                        <p>
                            <i class="fa fa-home mr-3"></i> Buenaventura, NY 10012, CO</p>
                        <p>
                            <i class="fa fa-envelope mr-3"></i> colombia@bturaenpixeles.com.co</p>
                        <p>
                            <i class="fa fa-phone mr-3"></i> + 01 8000 564 444</p>
                        <p>
                            <i class="fa fa-print mr-3"></i> + 57 317 567 8908</p>
                    </div>
                    <!--/.Fourth column-->
        
                </div>
            </div>
            <!--/.Footer Links-->
            <hr class="deep-purple accent-2 mb-2 mt-0 d-inline-block mx-auto bg-white" style="width:100%;">
            <!-- Copyright-->
            <div class="footer-copyright py-3 text-center text-white">
                Copyright © 2019
                <a class="text-white" href="#!">
                    <strong> bturaenpixeles.com</strong>
                </a>
                Derechos reservados
            </div>
            <!--/.Copyright -->
        </div>
    </footer>
    <!-- Fin Footer -->
</div>
          
