<main class="container-fluid">
    <section>
        <div class="container">
            <div class="row" style="">
                <div class="col-lg-6">
                    <div class="home-image">
                        <img class="img-fluid" src="../../assets/img/img.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <h4>Fotos de Buenaventua</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis maiores, rem pariatur veniam beatae voluptate? Possimus sunt esse corrupti voluptas dolor quae delectus repudiandae? Soluta tenetur fuga recusandae culpa cumque?</p>
                        <a href="#">Ver imagenes</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row" style="">
                <div class="col-lg-6">
                    <div>
                        <h4>Zona Turística</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis maiores, rem pariatur veniam beatae voluptate? Possimus sunt esse corrupti voluptas dolor quae delectus repudiandae? Soluta tenetur fuga recusandae culpa cumque?</p>
                        <a href="#">Conocer zonas</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="home-image">
                        <img class="img-fluid" src="../../assets/img/turismo1.jpg" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row" style="">
                <div class="col-lg-6">
                    <div class="home-image">
                        <img class="img-fluid" src="../../assets/img/historia.jpg" alt="" srcset="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <h4>Historia de Buenaventua</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis maiores, rem pariatur veniam beatae voluptate? Possimus sunt esse corrupti voluptas dolor quae delectus repudiandae? Soluta tenetur fuga recusandae culpa cumque?</p>
                        <a href="#">Conocer historia</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>

