section{
    margin: 60px 0 30px 0;
}
.container .row{
    margin-bottom: 50px;
    vertical-align: middle;
    align-self: center;
}
.container .row .col-lg-6{
    vertical-align: middle; align-self: center;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.home-image img{
    border-radius: 10px;
    vertical-align: middle;
    border-style: none;
}